include _partial/helpers
if page.title
  - var current_title = page.title
else
  - var current_title = config.title

html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(content="black-translucent", name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no", name="format-detection")
    meta(name="description", content=config.description)
    block title
    //+get_resource("blog_basic.css")
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/pure-min.css')
    link(rel='stylesheet', type='text/css', href='/css/grids-responsive-min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css")
    if theme.highlight
      link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/highlight.js/styles/atom-one-light.css")
      script(src="/js/highlight.pack.js")
      script(type='text/javascript').
        hljs.initHighlightingOnLoad()
    style.
      .category-list-item {
        display: flex;
      }
      .category-list-link {
        flex: 1 0 auto;
      }
      .category-list-count {
        text-align: right;
      }
      .post .post-content pre code {
        padding: 0 0;
      }
  body: .body_container 
    #header
      .site-name
        h1.hidden= current_title
        a#logo(href='/')= config.title
        p.description= config.subtitle
      #nav-menu
        +a_with_current(config.root, __('blog'),'nav_blog')
        +a_with_current(config.archive_dir, __('archive')) 
    #layout.pure-g
      .pure-u-1.pure-u-md-3-4: .content_container
        block content

      .pure-u-1-4: #sidebar
        each item in theme.widgets
          != partial('_widget/' + item + '.pug') 

    #footer= '© '
      a(href='/', real="nofollow")= config.title + '.'
      i  Powered by 
      a(rel="nofollow", target="_blank", href="https://hexo.io") Hexo 

    if theme.fancybox
      != js(['/js/jquery.min.js', '/js/fancybox.pack.js'])
      != css('/css/jquery.fancybox.css')
      script.
        $(document).ready(function() {
          $("img").wrap(function() {
            return '<a href="' + $(this).attr("src") + '" rel="group" />'});
        });
      script.
        $(document).ready(function() {
          $("a[href$='.jpg'],a[href$='.png'],a[href$='.gif']").attr('rel', 'gallery').fancybox();
        });


